.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.container .box {
    margin: 25px;
}

@media (max-width: 480px) {
    .container {
        flex-direction: column;
        height: auto;

        .box:nth-child(2) {
            order: -1;
        }
    }
}