@import "./variables";

html {
    height: 100%;
}

body {
    margin: 0;
    font-family: Helvetica, Arial;
    background-color: #F1F1F1;
    height: calc(100% - #{$topbar-margin});
}

#root {
    height: 100%;
}